
<header>
    <div class="nav">
        <div class="nav-img">
            <a href="/">
                <img src="/assets/logos/logo-purple-clipped.png" alt="meet up logo with arrow colored purple">
            </a>
        </div>
        <div class="nav-search">
            <input type="text" minlength="4" maxlength="60" placeholder="search">
        </div>
        <div class="nav-buttons">
            <span>DARK MODE</span>
            <button class="darkModeToggle" id="off">
                <span class="material-icons">toggle_off</span> <!-- toggle_on -->
            </button>
            <a href="/login">LOGIN</a>
            {{#if loggedIn}} 
            <a>{{user.username}}</a>
            {{else}}
            <a href="/signup">SIGN UP</a>
            {{/if}}
        </div>
    </div>
</header>
<main class="container">
    <div class="card row">
        <div id="sort">
            <div class="justify-left">
                <p>Sort by</p>
            </div>
            <div class="justify-right">
                <button class="sortBtn" id="active">Top</button>
                <button class="sortBtn">New</button>
                <button class="sortBtn">Upcoming</button>
                <button class="sortBtn">Nearby</button>
            </div>
        </div>
    </div>
    <!-- thread 1 -->
    {{#each posts as |post|}}
    <div class="card row thread">
        <div class="flex-column col-2">
            <!-- pfp -->
            <img class="col-9" src="/assets/fake-pfp/fakeperson6.png" alt="">
            <div class="col-3">
                <p>{{post.author}}</p>
            </div>
        </div>
        <div class="col-7">
            <!-- main contnet -->
            <h1 class="row">
                {{post.title}}
            </h1>
            <div class="row">
                <span class="col-1 unselectable material-icons">schedule</span>
                <p class="col-11">{{post.date_occuring}} @ {{post.time_occuring}}</p>
            </div>
            <div class="row">
                <span class="col-1 unselectable material-icons">location_on</span>
                <p class="col-11">{{post.location}}</p>
            </div>
            <div class="row">
                <span class="col-1 unselectable material-icons">3p</span>
                <p class="col-11">42 Responses</p>
            </div>
        </div>
        <div class="col-3">
            <!-- right side stuff -->
            <div class="row justify-content-end">
                <p class="col-10">{{post.upvotes}}</p>
                <div class="col-2">
                    <span class="content unselectable material-icons md-48 upvote">north</span>
                </div>
            </div>
            <p class="row justify-content-end">{{post.date_created}}</p>
            {{#if post.edited}}
            <p class="row justify-content-end">(edited)</p>
            {{else}}
            <p class="row justify-content-end"></p>
            {{/if}}
            <p class="row justify-content-end"></p>
        </div>
    </div>
    {{/each}}
</main>


