<header>
    {{> navbar}}
</header>
<main class="container">
    {{!-- add a new event --}}
    {{#if session.loggedIn}}
    <div class="card row">
        <div id="createPost">
            <div class="col-1">
                <img src="{{session.image_url}}" alt="">
            </div>
            <div class="col-11">
                <button class="txt-a-l" data-bs-toggle="modal" data-bs-target="#createPostModal" style="width: 100%;">
                    Create a event
                </button>
            </div>
        </div>
        <div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="create-post-modal-title"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="create-post-modal-title">Create a new event</h5>
                        <button type="button" id="close-create-post-button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="post-title" class="col-form-label">Title</label>
                                <input type="text" class="form-control" name="post-title" maxlength="80">
                            </div>
                            <div class="mb-3">
                                <label for="post-description" class="col-form-label">Description</label>
                                <textarea class="form-control" name="post-description"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="post-location" class="col-form-label">Location</label>
                                <input type="text" class="form-control" name="post-location" maxLength="55">
                            </div>
                            <div class="mb-3">
                                <div class="row date-time">
                                    <div class="col-6">
                                        <label for="post-date" class="col-form-label">Date</label>
                                        <input type="date" name="post-date">
                                    </div>
                                    <div class="col-6">
                                        <label for="post-time" class="col-form-label">Time</label>
                                        <input type="time" name="post-time">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="create-event-submit">Create Event</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{!-- sort card --}}
    <div class="card row">
        <div id="sort">
            <div class="justify-left">
                <p>Sort by</p>
            </div>
            <div class="justify-right">
                <button class="sortBtn" id="active">Top</button>
                <button class="sortBtn">New</button>
                {{!-- <button class="sortBtn">Soon</button> --}}
                {{!-- <button class="sortBtn">Past</button> --}}
                {{!-- <button class="sortBtn">Nearby</button> --}}
            </div>
        </div>
    </div>
    <!-- thread 1 -->
    {{#each posts as |post|}}
    <div class="card row thread" id="{{post.id}}">
        <div class="flex-column col-2">
            {{!-- pfp --}}
            <img class="col-9" src="{{post.User.image_url}}" alt="">
            <div class="col-3">
                <p>{{post.User.username}}</p>
            </div>
        </div>
        <div class="col-7">
            {{!-- main contnet --}}
            <h1 class="row">
                {{post.title}}
            </h1>
            <div class="row">
                <span class="col-1 unselectable material-icons">schedule</span>
                <p class="col-11">{{post.date_occuring}}</p>
            </div>
            <div class="row">
                <span class="col-1 unselectable material-icons">location_on</span>
                <p class="col-11">{{post.location}}</p>
            </div>
            <div class="row">
                <span class="col-1 unselectable material-icons">3p</span>
                <p class="col-11">{{post.responses_length}} Responses</p>
            </div>
        </div>
        <div class="col-3">
            {{!-- right side stuff --}}
            <div class="row justify-content-end">
                {{#if post.upvoted}}
                <p class="col-10 upvote-activated">{{post.upvotes}}</p>
                {{else}}
                <p class="col-10">{{post.upvotes}}</p>
                {{/if}}
                {{#if session.loggedIn}}
                <div class="col-2">
                    <span class="content unselectable material-icons md-48 upvote">north</span>
                </div>
                {{else}}
                <div class="col-2">
                    <a class="content unselectable material-icons md-48 upvote" href="/login">north</a>
                </div>
                {{/if}}
            </div>
            <p class="row justify-content-end">{{post.createdAt}}</p>
            {{#if post.edited}}
            <p class="row justify-content-end">(edited)</p>
            {{else}}
            <p class="row justify-content-end"></p>
            {{/if}}
            <p class="row justify-content-end"></p>
        </div>
    </div>
    {{/each}}
</main>