<header>
    {{> navbar}}
</header>
<main>
    <div class="card row post">
        <!-- title and upvotes -->
        <div class="row">
            <div class="col-10">
                <h1 class="row">
                    {{post.title}}
                </h1>
            </div>
            <div class="col-2">
                <div class="row justify-content-end">
                    {{#if post.upvoted}}
                    <p class="col-10 upvote-activated">{{post.upvotes}}</p>
                    {{else}}
                    <p class="col-10">{{post.upvotes}}</p>
                    {{/if}}
                    <div class="col-2">
                        <span class="content unselectable material-icons md-48 upvote">north</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- location and time -->
        <div class="row">
            <div class="col-auto">
                <span class="unselectable material-icons">location_on</span>
                <p>{{post.location}}</p>
            </div>
            <div class="col-auto">
                <span class="unselectable material-icons">schedule</span>
                <p>{{post.date_occuring}}</p>
            </div>
        </div>
        <!-- description -->
        <div class="row">
            <p>
                {{post.description}}
            </p>
        </div>
        <!-- edited tag -->
        <div class="row">
            {{#if post.edited}}
            <p class="row justify-content-end">(edited)</p>
            {{else}}
            <p class="row justify-content-end"></p>
            {{/if}}
        </div>
        <!-- date, editbtn, deletebtn, author -->
        <div class="row">
            <!-- date, edit, delete -->
            <div class="col-6 d-flex justify-content-start align-content-center">
                <p>Posted: {{post.createdAt}}</p>
                {{#if session.loggedIn}}
                <button name="edit">edit</button>
                <button name="delete">delete</button>
                {{/if}}
            </div>
            <!-- author and pfp -->
            <div class="col-6 d-flex justify-content-end align-content-center">
                <p>{{post.User.username}}</p>
                <img src="{{post.User.image_url}}" alt="">
            </div>
        </div>
        <!-- response numbers and sort by -->
        <div class="row">
            <!-- responses -->
            <div class="col-6 d-flex justify-content-start align-content-center">
                <span class="unselectable material-icons">3p</span>
                <p class="align-self-center">{{post.responses_length}} Responses</p>
            </div>
            <div class="col-6 d-flex justify-content-end align-content-center">
                <p class="align-self-center">Sort:</p>
                <button>Recent</button>
            </div>
        </div>
        <!-- response textbox -->
        <div class="row">
            {{#if session.loggedIn}}
            <input type="text" name="response" id="response" placeholder="Enter text to respond">
            {{else}}
            <input type="text" name="response" id="response" disabled placeholder="Login or Sign Up to respond">
            {{/if}}
        </div>
        <!-- single response -->
        {{#each post.Responses as |Response|}}
        {{> response}}
        {{/each}}
    </div>
</main>